n8n/workflows/chatbot_webhook_simples.json
{
  "name": "Chatbot Tributos - Webhook Simples",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waha-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "8c0ac011-c46c-4c2c-bab1-ac5e0c3a365b"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.payload?.from || $json.body.from }}",
              "operation": "notContains",
              "value2": "@g.us"
            }
          ]
        }
      },
      "id": "filtrar-grupos",
      "name": "Filtrar Grupos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "={{ $('Webhook').item.json.body.payload?.from || $('Webhook').item.json.body.from }}",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1460,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://waha:3000/api/startTyping",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": \"{{ $('Webhook').item.json.body.payload?.from || $('Webhook').item.json.body.from }}\"\n}",
        "options": {}
      },
      "id": "start-typing",
      "name": "Start Typing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:5000/chatbot/webhook/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Webhook').item.json.body }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "api-python",
      "name": "API Python (RAG+LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://waha:3000/api/stopTyping",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": \"{{ $('Webhook').item.json.body.payload?.from || $('Webhook').item.json.body.from }}\"\n}",
        "options": {}
      },
      "id": "stop-typing",
      "name": "Stop Typing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Log da mensagem processada\nconst webhookData = $('Webhook').item.json.body;\nconst chatId = webhookData.payload?.from || webhookData.from;\nconst message = webhookData.payload?.body || webhookData.body;\n\nconsole.log('✅ Mensagem processada com sucesso');\nconsole.log('   Chat ID:', chatId);\nconsole.log('   Mensagem:', message);\n\nreturn {\n  json: {\n    status: 'success',\n    chatId: chatId,\n    processed: true\n  }\n};"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retorna resposta OK para o webhook\nreturn {\n  json: {\n    status: 'ok'\n  }\n};"
      },
      "id": "return-ok",
      "name": "Return OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        180
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtrar Grupos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Grupos": {
      "main": [
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "API Python (RAG+LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Python (RAG+LLM)": {
      "main": [
        [
          {
            "node": "Stop Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Return OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return OK": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-04T19:30:00.000Z",
  "versionId": "1"
}
